.landing-bg {
  background-color: white;
}
.langing-content {
  background-color: rgb(223, 220, 220);
  min-height: 100vh;
  padding: 17px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-sizing: border-box;
}

.landing-cart h2 {
  color: rgb(50, 49, 49);
  margin: 0;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 22px;
}
.landing-cart p {
  color: rgb(109, 108, 108);
  margin: 0;
  font-size: 14px;
}
.landing-btn-create-account {
  background-color: rgb(142, 50, 228);
  padding: 9px;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  width: 100%;
  border: none;
  margin-top: 10px;
  font-size: 13px;
}
.landing-login-btn {
  width: 100%;
  background-color: rgb(177, 175, 175);
  color: rgb(57, 56, 56);
  font-weight: bold;
  font-size: 13px;
  padding: 9px;
  border: none;border-radius: 7px;margin-top: 10px;
  margin-bottom: 20px;
   
}
