.landing-bg {
  background-color: rgb(255, 253, 253);
}
.langing-content {
  background-color: rgb(247, 245, 245);
  min-height: 100vh;
  padding: 17px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-sizing: border-box;
}

.landing-cart h2 {
  color: rgb(50, 49, 49);
  margin: 0;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 22px;
}
.landing-cart p {
  color: rgb(109, 108, 108);
  margin: 0;
  font-size: 14px;
}
.landing-btn-create-account {
  background-color: rgb(142, 50, 228);
  padding: 9px;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  width: 100%;
  border: none;
  margin-top: 10px;
  font-size: 13px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.landing-btn-create-account:hover {
  transform: translateY(-5px); /* Moves the button up slightly */
}


.landing-login-btn {
  width: 100%;
  background-color: rgb(177, 175, 175);
  color: rgb(57, 56, 56);
  font-weight: bold;
  font-size: 13px;
  padding: 9px;
  border: none;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.landing-login-btn:hover {
  transform: translateY(-5px); /* Moves the button up slightly */
}

/* Adding responsiveness to the page based on screen sizes*/

@media (min-width: 375px) {
  .langing-content {
    width: 80%;
    border-color: rgb(166, 162, 162);
    border-radius: 10px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
}
@media (min-width: 425px) {
  .langing-content {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .langing-content {
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .langing-content {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .langing-content {
    width: 25%;
  }
}
